// COLOR PALETTE COMPONENT

/// VARIABLES
$color-palette-bg-color: #FFFFFF;
$color-palette-color-bg-color: #FFFFFF;
$color-palette-label-font-color: #6D6D6D;

.ma-color-palette {
    background-color: $color-palette-bg-color;

    &__color {
        background-color: $color-palette-color-bg-color;
    }

    &__label {
        color: $color-palette-label-font-color;
    }
}