/**********************************************************/
/*                       ATOMS LIST                       */
/**********************************************************/

.AtomsList {

    .atomBox-container {
        width: 32%;
        margin: 0 2% 25px 0;
        position: relative;

        &:nth-child(3n) {
            margin-right: 0;
        }

    }

}


// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
    .AtomsList {
        .atomBox-container {
            width: 49%;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                margin-right: 2%;
            }

        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) { 
    .AtomsList {
        .atomBox-container {
            width: 100%;
            margin-right: 0 !important;
        }
    }
}

