@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Poppins';
@import 'https://fonts.googleapis.com/css?family=Quicksand';
/************************************************/
/*               GLOBAL VARIABLES               */
/************************************************/
/*               GLOBAL STYLES               */
/*********************************************/
body.mainApp {
  padding: 0;
  background-color: #FFFFFF;
  color: #24292e;
  overflow-x: hidden;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }
  body.mainApp .row:before {
    display: inherit; }
  body.mainApp .AppContent {
    min-height: 100%;
    position: relative; }

/**
 * GLOBAL HELPERS
 * --------------
 *
 * Class naming convention
 * stylePropertyName-valueName
 * e.g.
 * float-left
 * textAlign-center
 * verticalAlign-middle
 *
 * Our personal helpers classes are a mix of several styleguide from:
 * Mailchimp - https://ux.mailchimp.com/patterns/helpers
 * Marvel - https://marvelapp.com/styleguide/overview/code-guidelines
 * Heroku - https://purple.herokuapp.com/
 */
/**
*  GENERAL
*/
.width-wrapper {
  max-width: 1270px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px; }

.overflow-hidden {
  overflow: hidden; }

/**
*  CURSOR
*/
.cursor-pointer {
  cursor: pointer; }

/**
*  POSITION
*/
.position-absolute {
  position: absolute; }

.position-relative {
  position: relative; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.display-inlineBlock {
  display: inline-block; }

/*
NOTE: Boostrap 4 has a flex set
.display-flex { 
    display: -webkit-box !important;
    display: flex !important;
}
*/
.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

.flex-0 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.flex-1 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

.order-last {
  -webkit-box-ordinal-group: 100000;
  -ms-flex-order: 99999;
  order: 99999; }

/**
 *  SPACING
 */
/* Margin scale */
.margin-0 {
  margin: 0; }

.margin-1 {
  margin: 6px; }

.margin-2 {
  margin: 12px; }

.margin-3 {
  margin: 18px; }

.margin-4 {
  margin: 24px; }

.margin-5 {
  margin: 30px; }

.margin-6 {
  margin: 36px; }

.margin-7 {
  margin: 42px; }

.margin-8 {
  margin: 48px; }

.margin-9 {
  margin: 54px; }

.margin-10 {
  margin: 60px; }

.margin-11 {
  margin: 66px; }

.margin-12 {
  margin: 72px; }

/* Margin top scale */
.marginTop-1 {
  margin-top: 6px; }

.marginTop-2 {
  margin-top: 12px; }

.marginTop-3 {
  margin-top: 18px; }

.marginTop-4 {
  margin-top: 24px; }

.marginTop-5 {
  margin-top: 30px; }

.marginTop-6 {
  margin-top: 36px; }

.marginTop-7 {
  margin-top: 42px; }

.marginTop-8 {
  margin-top: 48px; }

.marginTop-9 {
  margin-top: 54px; }

.marginTop-10 {
  margin-top: 60px; }

.marginTop-11 {
  margin-top: 66px; }

.marginTop-12 {
  margin-top: 72px; }

/* Margin bottom scale */
.marginBottom-1 {
  margin-bottom: 6px; }

.marginBottom-2 {
  margin-bottom: 12px; }

.marginBottom-3 {
  margin-bottom: 18px; }

.marginBottom-4 {
  margin-bottom: 24px; }

.marginBottom-5 {
  margin-bottom: 30px; }

.marginBottom-6 {
  margin-bottom: 36px; }

.marginBottom-7 {
  margin-bottom: 42px; }

.marginBottom-8 {
  margin-bottom: 48px; }

.marginBottom-9 {
  margin-bottom: 54px; }

.marginBottom-10 {
  margin-bottom: 60px; }

.marginBottom-11 {
  margin-bottom: 66px; }

.marginBottom-12 {
  margin-bottom: 72px; }

/* Margin left scale */
.marginLeft-1 {
  margin-left: 6px; }

.marginLeft-2 {
  margin-left: 12px; }

.marginLeft-3 {
  margin-left: 18px; }

.marginLeft-4 {
  margin-left: 24px; }

.marginLeft-5 {
  margin-left: 30px; }

.marginLeft-6 {
  margin-left: 36px; }

.marginLeft-7 {
  margin-left: 42px; }

.marginLeft-8 {
  margin-left: 48px; }

.marginLeft-9 {
  margin-left: 54px; }

.marginLeft-10 {
  margin-left: 60px; }

.marginLeft-11 {
  margin-left: 66px; }

.marginLeft-12 {
  margin-left: 72px; }

/* Margin right scale */
.marginRight-1 {
  margin-right: 6px; }

.marginRight-2 {
  margin-right: 12px; }

.marginRight-3 {
  margin-right: 18px; }

.marginRight-4 {
  margin-right: 24px; }

.marginRight-5 {
  margin-right: 30px; }

.marginRight-6 {
  margin-right: 36px; }

.marginRight-7 {
  margin-right: 42px; }

.marginRight-8 {
  margin-right: 48px; }

.marginRight-9 {
  margin-right: 54px; }

.marginRight-10 {
  margin-right: 60px; }

.marginRight-11 {
  margin-right: 66px; }

.marginRight-12 {
  margin-right: 72px; }

/* Padding scale */
.padding-0 {
  padding: 0; }

.padding-1 {
  padding: 6px; }

.padding-2 {
  padding: 12px; }

.padding-3 {
  padding: 18px; }

.padding-4 {
  padding: 24px; }

.padding-5 {
  padding: 30px; }

.padding-6 {
  padding: 36px; }

.padding-7 {
  padding: 42px; }

.padding-8 {
  padding: 48px; }

.padding-9 {
  padding: 54px; }

.padding-10 {
  padding: 60px; }

.padding-11 {
  padding: 66px; }

.padding-12 {
  padding: 72px; }

/* Padding top scale */
.paddingTop-1 {
  padding-top: 6px; }

.paddingTop-2 {
  padding-top: 12px; }

.paddingTop-3 {
  padding-top: 18px; }

.paddingTop-4 {
  padding-top: 24px; }

.paddingTop-5 {
  padding-top: 30px; }

.paddingTop-6 {
  padding-top: 36px; }

.paddingTop-7 {
  padding-top: 42px; }

.paddingTop-8 {
  padding-top: 48px; }

.paddingTop-9 {
  padding-top: 54px; }

.paddingTop-10 {
  padding-top: 60px; }

.paddingTop-11 {
  padding-top: 66px; }

.paddingTop-12 {
  padding-top: 72px; }

/* Padding bottom scale */
.paddingBottom-1 {
  padding-bottom: 6px; }

.paddingBottom-2 {
  padding-bottom: 12px; }

.paddingBottom-3 {
  padding-bottom: 18px; }

.paddingBottom-4 {
  padding-bottom: 24px; }

.paddingBottom-5 {
  padding-bottom: 30px; }

.paddingBottom-6 {
  padding-bottom: 36px; }

.paddingBottom-7 {
  padding-bottom: 42px; }

.paddingBottom-8 {
  padding-bottom: 48px; }

.paddingBottom-9 {
  padding-bottom: 54px; }

.paddingBottom-10 {
  padding-bottom: 60px; }

.paddingBottom-11 {
  padding-bottom: 66px; }

.paddingBottom-12 {
  padding-bottom: 72px; }

/* Padding left scale */
.paddingLeft-1 {
  padding-left: 6px; }

.paddingLeft-2 {
  padding-left: 12px; }

.paddingLeft-3 {
  padding-left: 18px; }

.paddingLeft-4 {
  padding-left: 24px; }

.paddingLeft-5 {
  padding-left: 30px; }

.paddingLeft-6 {
  padding-left: 36px; }

.paddingLeft-7 {
  padding-left: 42px; }

.paddingLeft-8 {
  padding-left: 48px; }

.paddingLeft-9 {
  padding-left: 54px; }

.paddingLeft-10 {
  padding-left: 60px; }

.paddingLeft-11 {
  padding-left: 66px; }

.paddingLeft-12 {
  padding-left: 72px; }

/* Padding right scale */
.paddingRight-1 {
  padding-right: 6px; }

.paddingRight-2 {
  padding-right: 12px; }

.paddingRight-3 {
  padding-right: 18px; }

.paddingRight-4 {
  padding-right: 24px; }

.paddingRight-5 {
  padding-right: 30px; }

.paddingRight-6 {
  padding-right: 36px; }

.paddingRight-7 {
  padding-right: 42px; }

.paddingRight-8 {
  padding-right: 48px; }

.paddingRight-9 {
  padding-right: 54px; }

.paddingRight-10 {
  padding-right: 60px; }

.paddingRight-11 {
  padding-right: 66px; }

.paddingRight-12 {
  padding-right: 72px; }

/**
 *  TEXT MANIPULATION
 */
.fontFamily-openSans {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; }

.fontFamily-sourceCodePro {
  font-family: "Source Code Pro", Consolas, "Lucida Console", Courier, monospace; }

.fontFamily-poppins {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; }

.fontFamily-quicksand {
  font-family: "Quicksand", "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; }

.fontFamily-courierNew {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

/* Font brand colors */
.color-lightPrimary {
  color: #FDF980; }

.color-primary {
  color: #FEEB6A; }

.color-darkPrimary {
  color: #FCD85E; }

.color-lightSecondary {
  color: #3CDAD5; }

.color-secondary {
  color: #33ADA9; }

.color-darkSecondary {
  color: #288784; }

/* Font UI colors */
.color-positive {
  color: #74C080; }

.color-negative {
  color: #FF4949; }

.color-warning {
  color: #FFC82C; }

.color-info {
  color: #408FEC; }

/* Font Grey colors */
.color-black {
  color: #24292e; }

.color-mirage {
  color: #1F2D3D; }

.color-steel {
  color: #273444; }

.color-slate {
  color: #3C4858; }

.color-silver {
  color: #8492A6; }

.color-smoke {
  color: #E0E6ED; }

.color-darkSmoke {
  color: #D3DCE6; }

.color-extraDarkSmoke {
  color: #C0CCDA; }

.color-snow {
  color: #F9FAFC; }

.color-darkSnow {
  color: #EFF2F7; }

.color-extraDarkSnow {
  color: #E5E9F2; }

.color-white {
  color: #FFFFFF; }

/* Font Size scale */
.fontSize-xxs {
  font-size: 10px; }

.fontSize-xs {
  font-size: 12px; }

.fontSize-sm {
  font-size: 14px; }

.fontSize-md {
  font-size: 16px; }

.fontSize-lg {
  font-size: 18px; }

.fontSize-xl {
  font-size: 20px; }

.fontSize-xxl {
  font-size: 28px; }

.fontSize-xxxl {
  font-size: 38px; }

.fontSize-xxxxl {
  font-size: 46px; }

/* Font Weight scale */
.fontWeight-1 {
  font-weight: 100; }

.fontWeight-2 {
  font-weight: 200; }

.fontWeight-3 {
  font-weight: 300; }

.fontWeight-4 {
  font-weight: 400; }

.fontWeight-5 {
  font-weight: 500; }

.fontWeight-6 {
  font-weight: 600; }

.fontWeight-7 {
  font-weight: 700; }

.fontWeight-8 {
  font-weight: 800; }

.fontWeight-9 {
  font-weight: 900; }

/* Line Height scale */
.lineHeight-1 {
  line-height: 6px; }

.lineHeight-2 {
  line-height: 12px; }

.lineHeight-3 {
  line-height: 18px; }

.lineHeight-4 {
  line-height: 24px; }

.lineHeight-5 {
  line-height: 30px; }

.lineHeight-6 {
  line-height: 36px; }

.lineHeight-7 {
  line-height: 42px; }

.lineHeight-8 {
  line-height: 48px; }

.lineHeight-9 {
  line-height: 54px; }

.lineHeight-10 {
  line-height: 60px; }

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.textTransform-capitalize {
  text-transform: capitalize; }

.textTransform-lowercase {
  text-transform: lowercase; }

.textTransform-uppercase {
  text-transform: uppercase; }

.textTransform-fullWidth {
  text-transform: full-width; }

.textAlign-left {
  text-align: left; }

.textAlign-right {
  text-align: right; }

.textAlign-center {
  text-align: center; }

.fontStyle-italic {
  font-style: italic; }

.fontStyle-normal {
  font-style: normal; }

.link-reset {
  text-decoration: none !important; }

.fontSmoothing-reset {
  -webkit-font-smoothing: initial; }

.textShadow-close {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

/**
 *  BORDER
 */
/* Border scale */
.border-0 {
  border: 0 hidden transparent; }

.border-1 {
  border: 1px solid; }

.border-2 {
  border: 2px solid; }

.border-3 {
  border: 3px solid; }

.border-4 {
  border: 4px solid; }

.border-5 {
  border: 5px solid; }

.border-6 {
  border: 6px solid; }

.borderTop-0 {
  border-top: 0 hidden transparent; }

.borderTop-1 {
  border-top: 1px solid; }

.borderTop-2 {
  border-top: 2px solid; }

.borderTop-3 {
  border-top: 3px solid; }

.borderTop-4 {
  border-top: 4px solid; }

.borderTop-5 {
  border-top: 5px solid; }

.borderTop-6 {
  border-top: 6px solid; }

.borderBottom-0 {
  border-bottom: 0 hidden transparent; }

.borderBottom-1 {
  border-bottom: 1px solid; }

.borderBottom-2 {
  border-bottom: 2px solid; }

.borderBottom-3 {
  border-bottom: 3px solid; }

.borderBottom-4 {
  border-bottom: 4px solid; }

.borderBottom-5 {
  border-bottom: 5px solid; }

.borderBottom-6 {
  border-bottom: 6px solid; }

.borderLeft-0 {
  border-left: 0 hidden transparent; }

.borderLeft-1 {
  border-left: 1px solid; }

.borderLeft-2 {
  border-left: 2px solid; }

.borderLeft-3 {
  border-left: 3px solid; }

.borderLeft-4 {
  border-left: 4px solid; }

.borderLeft-5 {
  border-left: 5px solid; }

.borderLeft-6 {
  border-left: 6px solid; }

.borderRight-0 {
  border-right: 0 hidden transparent; }

.borderRight-1 {
  border-right: 1px solid; }

.borderRight-2 {
  border-right: 2px solid; }

.borderRight-3 {
  border-right: 3px solid; }

.borderRight-4 {
  border-right: 4px solid; }

.borderRight-5 {
  border-right: 5px solid; }

.borderRight-6 {
  border-right: 6px solid; }

/* Border types */
.borderTopStyle-dashed {
  border-top-style: dashed; }

.borderTopStyle-dotted {
  border-top-style: dotted; }

.borderTopStyle-solid {
  border-top-style: solid; }

.borderBottomStyle-dashed {
  border-bottom-style: dashed; }

.borderBottomStyle-dotted {
  border-bottom-style: dotted; }

.borderBottomStyle-solid {
  border-bottom-style: solid; }

.borderRightStyle-dashed {
  border-right-style: dashed; }

.borderRightStyle-dotted {
  border-right-style: dotted; }

.borderRightStyle-solid {
  border-right-style: solid; }

.borderLeftStyle-dashed {
  border-left-style: dashed; }

.borderLeftStyle-dotted {
  border-left-style: dotted; }

.borderLeftStyle-solid {
  border-left-style: solid; }

/* Border brand colors */
.borderColor-lightPrimary {
  border-color: #FDF980; }

.borderColor-primary {
  border-color: #FEEB6A; }

.borderColor-darkPrimary {
  border-color: #FCD85E; }

.borderColor-lightSecondary {
  border-color: #3CDAD5; }

.borderColor-secondary {
  border-color: #33ADA9; }

.borderColor-darkSecondary {
  border-color: #288784; }

/* Border UI colors */
.borderColor-positive {
  border-color: #74C080; }

.borderColor-negative {
  border-color: #FF4949; }

.borderColor-warning {
  border-color: #FFC82C; }

.borderColor-info {
  border-color: #408FEC; }

/* Border Grey colors */
.borderColor-black {
  border-color: #24292e; }

.borderColor-mirage {
  border-color: #1F2D3D; }

.borderColor-steel {
  border-color: #273444; }

.borderColor-slate {
  border-color: #3C4858; }

.borderColor-silver {
  border-color: #8492A6; }

.borderColor-smoke {
  border-color: #E0E6ED; }

.borderColor-darkSmoke {
  border-color: #D3DCE6; }

.borderColor-extraDarkSmoke {
  border-color: #C0CCDA; }

.borderColor-snow {
  border-color: #F9FAFC; }

.borderColor-darkSnow {
  border-color: #EFF2F7; }

.borderColor-extraDarkSnow {
  border-color: #E5E9F2; }

.borderColor-white {
  border-color: #FFFFFF; }

/* Border radius scale */
.borderRadius-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.borderRadius-md {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.borderRadius-lg {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.borderRadius-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* Top Left Border Radius scale */
.borderRadiusTopLeft-sm {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0; }

.borderRadiusTopLeft-md {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0; }

.borderRadiusTopLeft-lg {
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0; }

/* Top Right Border Radius scale */
.borderRadiusTopRight-sm {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0; }

.borderRadiusTopRight-md {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0; }

.borderRadiusTopRight-lg {
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0; }

/* Bottom Left Border Radius scale */
.borderRadiusBottomLeft-sm {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px; }

.borderRadiusBottomLeft-md {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px; }

.borderRadiusBottomLeft-lg {
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px; }

/* Bottom Right Border Radius scale */
.borderRadiusBottomRight-sm {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0; }

.borderRadiusBottomRight-md {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0; }

.borderRadiusBottomRight-lg {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0; }

/* Rounded Top */
.sp-rounded-top-sm {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.sp-rounded-top-md {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.sp-rounded-top-lg {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.sp-rounded-bottom-sm {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }

.sp-rounded-bottom-md {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

.sp-rounded-bottom-lg {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }

/**
 *  BOX SHADOW
 */
.boxShadow-subtle {
  box-shadow: 0 2px 8px rgba(31, 45, 61, 0.05); }

.boxShadow-close {
  box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15); }

.boxShadow-raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.boxShadow-float {
  box-shadow: 0 5px 15px -2px rgba(10, 16, 34, 0.4); }

/**
 *  BACKGROUND
 */
/* Background brand colors */
.sp-bg-lightPrimary {
  background-color: #FDF980; }

.sp-bg-primary {
  background-color: #FEEB6A; }

.sp-bg-darkPrimary {
  background-color: #FCD85E; }

/* Background UI colors */
.sp-bg-positive {
  background-color: #74C080; }
  .sp-bg-positive--hover:hover {
    background-color: #74C080; }

.sp-bg-negative {
  background-color: #FF4949; }
  .sp-bg-negative--hover:hover {
    background-color: #FF4949; }

.sp-bg-warning {
  background-color: #FFC82C; }
  .sp-bg-warning--hover:hover {
    background-color: #FFC82C; }

.sp-bg-info {
  background-color: #408FEC; }
  .sp-bg-info--hover:hover {
    background-color: #408FEC; }

/* Background Grey colors */
.sp-bg-black {
  background-color: #24292e; }
  .sp-bg-black--hover:hover {
    background-color: #24292e; }

.sp-bg-mirage {
  background-color: #1F2D3D; }
  .sp-bg-mirage--hover:hover {
    background-color: #1F2D3D; }

.sp-bg-steel {
  background-color: #273444; }
  .sp-bg-steel--hover:hover {
    background-color: #273444; }

.sp-bg-slate {
  background-color: #3C4858; }
  .sp-bg-slate--hover:hover {
    background-color: #3C4858; }

.sp-bg-silver {
  background-color: #8492A6; }
  .sp-bg-silver--hover:hover {
    background-color: #8492A6; }

.sp-bg-smoke {
  background-color: #E0E6ED; }
  .sp-bg-smoke--hover:hover {
    background-color: #E0E6ED; }

.sp-bg-darkSmoke {
  background-color: #D3DCE6; }
  .sp-bg-darkSmoke--hover:hover {
    background-color: #D3DCE6; }

.sp-bg-extraDarkSmoke {
  background-color: #C0CCDA; }
  .sp-bg-extraDarkSmoke--hover:hover {
    background-color: #C0CCDA; }

.sp-bg-snow {
  background-color: #F9FAFC; }
  .sp-bg-snow--hover:hover {
    background-color: #F9FAFC; }

.sp-bg-darkSnow {
  background-color: #EFF2F7; }
  .sp-bg-darkSnow--hover:hover {
    background-color: #EFF2F7; }

.sp-bg-extraDarkSnow {
  background-color: #E5E9F2; }
  .sp-bg-extraDarkSnow--hover:hover {
    background-color: #E5E9F2; }

.sp-bg-white {
  background-color: #FFFFFF; }
  .sp-bg-white--hover:hover {
    background-color: #FFFFFF; }

/**
 *  SVG STROKE COLOR
 */
/* SVG Stroke brand colors */
.stroke-lightPrimary {
  stroke: #FDF980; }

.stroke-primary {
  stroke: #FEEB6A; }

.stroke-darkPrimary {
  stroke: #FCD85E; }

.stroke-lightSecondary {
  stroke: #3CDAD5; }

.stroke-secondary {
  stroke: #33ADA9; }

.stroke-darkSecondary {
  stroke: #288784; }

/* Border UI colors */
.stroke-positive {
  stroke: #74C080; }

.stroke-negative {
  stroke: #FF4949; }

.stroke-warning {
  stroke: #FFC82C; }

.stroke-info {
  stroke: #408FEC; }

/* Border Grey colors */
.stroke-black {
  stroke: #24292e; }

.stroke-mirage {
  stroke: #1F2D3D; }

.stroke-steel {
  stroke: #273444; }

.stroke-slate {
  stroke: #3C4858; }

.stroke-silver {
  stroke: #8492A6; }

.stroke-smoke {
  stroke: #E0E6ED; }

.stroke-darkSmoke {
  stroke: #D3DCE6; }

.stroke-extraDarkSmoke {
  stroke: #C0CCDA; }

.stroke-snow {
  stroke: #F9FAFC; }

.stroke-darkSnow {
  stroke: #EFF2F7; }

.stroke-extraDarkSnow {
  stroke: #E5E9F2; }

.stroke-white {
  stroke: #FFFFFF; }

/**
 *  SVG STROKE WIDTH
 */
.strokeWidth-1 {
  stroke-width: 1; }

.strokeWidth-2 {
  stroke-width: 2; }

.strokeWidth-3 {
  stroke-width: 3; }

/**********************************************************/
/*                         AVATAR                         */
/**********************************************************/
.sp-avatar {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #D3DCE6;
  background-color: #D3DCE6;
  background: url("https://s3.amazonaws.com/waysily-img/stylepill/photo-default.svg") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .sp-avatar--xxxs {
    height: 20px;
    width: 20px; }
  .sp-avatar--xxs {
    height: 25px;
    width: 25px; }
  .sp-avatar--xs {
    height: 40px;
    width: 40px; }
  .sp-avatar--sm {
    height: 55px;
    width: 55px; }
  .sp-avatar--md {
    width: 70px;
    height: 70px; }
  .sp-avatar--lg {
    width: 85px;
    height: 85px; }
  .sp-avatar--xl {
    width: 100px;
    height: 100px; }
  .sp-avatar--xxl {
    width: 115px;
    height: 115px; }
  .sp-avatar--empty {
    background: "https://s3.amazonaws.com/waysily-img/stylepill/photo-default.svg"; }
  .sp-avatar img {
    text-indent: -9999px; }

/* DESIGNED BY */
.sp-designedBy {
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center; }
  .sp-designedBy:hover {
    color: #33ADA9; }
  .sp-designedBy--xs {
    font-size: 12px; }
  .sp-designedBy--sm {
    font-size: 14px; }
  .sp-designedBy--md {
    font-size: 16px; }

/**********************************************************/
/*                        BUTTONS                         */
/**********************************************************/
.sp-btn {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: background 300ms ease-out;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .sp-btn--sm {
    padding: 4px 10px;
    font-size: 14px; }
  .sp-btn--md {
    padding: 8px 15px;
    font-size: 16px; }
  .sp-btn--lg {
    padding: 12px 20px;
    font-size: 18px; }
  .sp-btn--block {
    display: block;
    white-space: normal;
    width: 100%; }
  .sp-btn--primary {
    background-color: #FEEB6A;
    color: #24292e;
    font-weight: 900; }
    .sp-btn--primary:hover {
      background-color: #FCD85E;
      text-decoration: none;
      color: #24292e; }
    .sp-btn--primary:focus {
      background-color: #FEEB6A;
      color: #24292e;
      text-decoration: none;
      outline: none; }
  .sp-btn--secondary {
    background-color: #33ADA9;
    color: #FFFFFF;
    font-weight: 900; }
    .sp-btn--secondary:hover {
      background-color: #288784;
      text-decoration: none;
      color: #FFFFFF; }
    .sp-btn--secondary:focus {
      outline: none; }
  .sp-btn--neutral {
    background-color: #E0E6ED;
    color: #24292e;
    font-weight: 900; }
    .sp-btn--neutral:hover {
      background-color: #D3DCE6;
      text-decoration: none;
      color: #24292e; }
    .sp-btn--neutral:focus {
      background-color: #E0E6ED;
      color: #24292e;
      text-decoration: none;
      outline: none; }
  .sp-btn--primary-ghost {
    background: 0 0;
    border: 2px solid #FEEB6A;
    color: #FEEB6A;
    font-weight: 900; }
    .sp-btn--primary-ghost:hover {
      background-color: #FEEB6A;
      text-decoration: none;
      color: #24292e; }
    .sp-btn--primary-ghost:focus {
      outline: none; }
  .sp-btn--secondary-ghost {
    background: 0 0;
    border: 2px solid #33ADA9;
    color: #33ADA9;
    font-weight: 900; }
    .sp-btn--secondary-ghost:hover {
      background-color: #33ADA9;
      text-decoration: none;
      color: #FFFFFF; }
    .sp-btn--secondary-ghost:focus {
      outline: none; }
  .sp-btn--white-ghost {
    background: 0 0;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 900; }
    .sp-btn--white-ghost:hover {
      background-color: #FFFFFF;
      text-decoration: none;
      color: #3C4858; }
    .sp-btn--white-ghost:focus {
      outline: none; }
  .sp-btn--black-ghost {
    background: 0 0;
    border: 2px solid #24292e;
    color: #24292e;
    font-weight: 900; }
    .sp-btn--black-ghost:hover {
      border: 2px solid #8492A6;
      background-color: #E0E6ED;
      text-decoration: none;
      color: #3C4858; }
    .sp-btn--black-ghost:focus {
      outline: none; }
  .sp-btn--combo {
    background: 0 0;
    border: 0 hidden transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .sp-btn--combo:hover {
      background-color: #E0E6ED;
      text-decoration: none;
      color: #3C4858; }
    .sp-btn--combo:focus {
      outline: none; }
  .sp-btn--combo-secondary-ghost {
    background: 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #33ADA9; }
    .sp-btn--combo-secondary-ghost:hover {
      background-color: #33ADA9;
      text-decoration: none;
      color: #FFFFFF; }
      .sp-btn--combo-secondary-ghost:hover .icon {
        stroke: #FFFFFF; }
    .sp-btn--combo-secondary-ghost:focus {
      outline: none; }
  .sp-btn--combo-neutral-ghost {
    background: 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #D3DCE6; }
    .sp-btn--combo-neutral-ghost:hover {
      background-color: #E0E6ED;
      text-decoration: none;
      color: #3C4858; }
    .sp-btn--combo-neutral-ghost:focus {
      outline: none; }

/**********************************************************/
/*                      ICON TAB MENU                     */
/**********************************************************/
.sp-iconTabMenu {
  background-color: #FFFFFF;
  white-space: nowrap;
  display: inline-flex; }
  .sp-iconTabMenu--is-reversed {
    background-color: #24292e; }
    .sp-iconTabMenu--is-reversed .sp-iconTabMenu__button {
      -webkit-tap-highlight-color: #24292e;
      color: #3C4858; }
      .sp-iconTabMenu--is-reversed .sp-iconTabMenu__button:hover {
        background-color: #1F2D3D; }
      .sp-iconTabMenu--is-reversed .sp-iconTabMenu__button--active {
        border-top: 3px solid #FCD85E; }
  .sp-iconTabMenu__button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none !important;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    color: #3C4858;
    width: 60px;
    text-transform: uppercase;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .sp-iconTabMenu__button:hover {
      background-color: #E5E9F2; }
    .sp-iconTabMenu__button--active {
      border-top: 4px solid #288784; }
    .sp-iconTabMenu__button .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 48px; }

/**********************************************************/
/*                         INPUTS                         */
/**********************************************************/
.sp-input {
  border: 1px solid #C0CCDA;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #3C4858;
  display: block; }
  .sp-input:focus {
    border-color: #33ADA9;
    outline: 0; }
  .sp-input--sm {
    padding: 0 10px;
    height: 30px;
    font-size: 13px; }
  .sp-input--md {
    padding: 0 14px;
    height: 40px;
    font-size: 15px; }
  .sp-input--lg {
    padding: 0 16px;
    height: 50px;
    font-size: 16px; }
  .sp-input--block {
    width: 100%; }

/* SEARCH INPUT */
.sp-search {
  display: flex;
  align-items: center;
  position: relative; }
  .sp-search__input {
    padding-left: 36px;
    box-sizing: border-box;
    padding-right: 105px; }
  .sp-search__btn {
    position: absolute;
    right: 5px; }
  .sp-search__icon {
    position: absolute;
    margin-left: 12px; }

/* SELECT LIST */
.sp-select-container {
  position: relative;
  display: inline-flex;
  align-items: center; }
  .sp-select-container .sp-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
    cursor: pointer; }
    .sp-select-container .sp-select--input {
      border: 1px solid #C0CCDA;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      background-color: #FFFFFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #3C4858;
      display: block; }
      .sp-select-container .sp-select--input:focus {
        border-color: #33ADA9;
        outline: 0; }
    .sp-select-container .sp-select--sm {
      padding: 0 35px 0 10px;
      height: 30px;
      font-size: 13px; }
    .sp-select-container .sp-select--md {
      padding: 0 35px 0 14px;
      height: 40px;
      font-size: 15px; }
    .sp-select-container .sp-select--lg {
      padding: 0 35px 0 16px;
      height: 50px;
      font-size: 16px; }
    .sp-select-container .sp-select--block {
      width: 100%; }
  .sp-select-container .icon {
    position: absolute;
    right: 10px; }

/**********************************************************/
/*                         LINKS                          */
/**********************************************************/
.sp-link {
  text-decoration: none;
  transition: background 300ms ease-out;
  cursor: pointer; }
  .sp-link--box--primary {
    color: #FEEB6A; }
    .sp-link--box--primary:hover {
      background-color: #FEEB6A;
      color: #3C4858;
      text-decoration: none; }
    .sp-link--box--primary:focus {
      text-decoration: none; }
  .sp-link--box--secondary {
    color: #33ADA9; }
    .sp-link--box--secondary:hover {
      background-color: #33ADA9;
      color: #FFFFFF;
      text-decoration: none; }
    .sp-link--box--secondary:focus {
      text-decoration: none; }
  .sp-link--box--white {
    color: #FFFFFF; }
    .sp-link--box--white:hover {
      background-color: #E0E6ED;
      color: #3C4858;
      text-decoration: none; }
    .sp-link--box--white:focus {
      text-decoration: none; }
  .sp-link--box--black {
    color: #24292e; }
    .sp-link--box--black:hover {
      background-color: #E0E6ED;
      color: #3C4858;
      text-decoration: none; }
    .sp-link--box--black:focus {
      text-decoration: none; }

/**********************************************************/
/*                         LOGO                           */
/**********************************************************/
.sp-logo {
  font-family: "Quicksand", "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-weight: 900;
  display: inline-flex;
  display: -webkit-inline-flex;
  white-space: nowrap;
  align-items: center; }
  .sp-logo--sm {
    font-size: 20px; }
  .sp-logo--md {
    font-size: 25px; }
  .sp-logo--lg {
    font-size: 30px; }
  .sp-logo--black {
    color: #24292e; }
    .sp-logo--black:hover {
      color: #33ADA9; }
  .sp-logo--white {
    color: #FFFFFF; }
    .sp-logo--white:hover {
      color: #FEEB6A; }

/**********************************************************/
/*                         STATS                          */
/**********************************************************/
.sp-stats {
  display: flex;
  align-items: center;
  height: 18px; }
  .sp-stats__item {
    display: flex;
    align-items: center; }

/**********************************************************/
/*                        ATOM BOX                        */
/**********************************************************/
.AtomBox {
  position: relative;
  z-index: 0;
  cursor: pointer; }
  .AtomBox__content {
    height: 0;
    padding-top: 65%;
    overflow: hidden;
    position: relative; }
    .AtomBox__content .cover-link {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border: 0 !important;
      z-index: 1; }

/**********************************************************/
/*                        ATOM BOX                        */
/**********************************************************/
.AtomDetailsBox {
  position: relative;
  z-index: 0; }
  .AtomDetailsBox__content {
    height: 0;
    padding-top: 15%;
    overflow: hidden;
    position: relative; }

/**********************************************************/
/*                        ATOM INFO                       */
/**********************************************************/
.AtomInfo {
  overflow: hidden; }
  .AtomInfo__users {
    margin-bottom: 1px; }
  .AtomInfo__stats {
    background: #EFF2F7;
    position: absolute;
    right: .25rem;
    bottom: 0; }
    .AtomInfo__stats::after {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 30px;
      height: 100%;
      background: linear-gradient(to right, rgba(239, 242, 247, 0), #EFF2F7 80%); }

/**********************************************************/
/*                       ATOMS LIST                       */
/**********************************************************/
.AtomsList .atomBox-container {
  width: 32%;
  margin: 0 2% 25px 0;
  position: relative; }
  .AtomsList .atomBox-container:nth-child(3n) {
    margin-right: 0; }

@media (max-width: 991px) {
  .AtomsList .atomBox-container {
    width: 49%; }
    .AtomsList .atomBox-container:nth-child(2n) {
      margin-right: 0; }
    .AtomsList .atomBox-container:nth-child(3n) {
      margin-right: 2%; } }

@media (max-width: 575px) {
  .AtomsList .atomBox-container {
    width: 100%;
    margin-right: 0 !important; } }

/*@media (max-width: 830px) {
    
    .AtomsList {
        .atomBox-container {
            width: 49%;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                margin-right: 2%;
            }

        }

    }

}*/
/*@media (max-width: 550px) {

    .AtomsList {
        .atomBox-container {
            width: 100%;
            margin-right: 0 !important;
        }
    }

}*/
/**
 * FOOTER COMPONENT
 * ----------------- 
 */
.Footer {
  padding: 10px 20px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0; }

/**********************************************************/
/*                         HEADER                         */
/**********************************************************/
.Header {
  z-index: 1;
  padding-bottom: 16px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #FFFFFF;
  border-bottom: 3px solid transparent;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px; }

.Iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  /*-webkit-transform: scale(0.5);
        transform: scale(0.5);*/
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: opacity 0.4s ease; }

/**********************************************************/
/*                   ATOM DETAILS MODAL                   */
/**********************************************************/
/* DIMMER (MODAL BACKDROP) */
body.atomDetailsModal-open .ui.dimmer {
  background-color: #EFF2F7; }

/**********************************************************/
/*                     NAVBAR OPTIONS                     */
/**********************************************************/
.NavbarOptions .nav-item.active {
  border-bottom: 3px solid #33ADA9;
  font-weight: 900; }

.PaginationBtns {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px !important;
  margin-left: -100px;
  text-align: center; }

.HomePage .leftSide__header {
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0 0 80px 40px #fff;
  background-color: #fff; }
  .HomePage .leftSide__header__content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%; }

.HomePage .leftSide__content {
  position: relative;
  box-sizing: border-box; }
  .HomePage .leftSide__content .section {
    height: 100vh; }
  .HomePage .leftSide__content__text {
    margin: 0 auto;
    max-width: 400px;
    width: calc(100% - (10px * 8)); }

.HomePage .rightSide__content {
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 58.3%;
  z-index: 4;
  background-image: linear-gradient(-180deg, #276aae 0%, #428cca 28%, #68a9df 74%, #8acbf2 100%); }
  .HomePage .rightSide__content__header {
    top: 0;
    left: 0;
    margin-top: 15px; }
  .HomePage .rightSide__content img {
    margin-left: 50px;
    width: 94.5%; }
  .HomePage .rightSide__content__footer {
    left: 0;
    bottom: 25px; }
    .HomePage .rightSide__content__footer a:hover {
      color: #FFFFFF;
      text-decoration: none;
      border-bottom: 2px solid #FEEB6A; }

.ComponentPage .leftCol {
  padding: 0;
  overflow-y: hidden; }

.ComponentPage .rightCol {
  padding: 0; }

@media (min-width: 576px) {
  .ComponentPage .leftCol {
    padding: 0;
    overflow-y: hidden; }
  .ComponentPage .rightCol {
    padding: 0; } }

@media (min-width: 768px) {
  .ComponentPage .leftCol {
    padding: 0;
    overflow-y: hidden; }
  .ComponentPage .rightCol {
    padding: 0; } }

@media (min-width: 992px) {
  .ComponentPage .leftCol {
    padding: 0;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0; }
  .ComponentPage .rightCol {
    position: fixed;
    right: 0;
    left: auto;
    bottom: 0;
    top: 0;
    padding: 0; } }

@media (min-width: 1200px) {
  .ComponentPage .leftCol {
    padding: 0;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0; }
  .ComponentPage .rightCol {
    position: fixed;
    right: 0;
    left: auto;
    bottom: 0;
    top: 0;
    padding: 0; } }

.PanelSection .tabs {
  width: 100%;
  background-color: #141619;
  white-space: nowrap;
  display: flex; }
  .PanelSection .tabs__button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    color: #eceff1;
    width: 33.3333%;
    text-transform: uppercase;
    background: none; }
    .PanelSection .tabs__button--active {
      border-bottom: 3px solid #33ada9; }
    .PanelSection .tabs__button .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 48px; }

.PanelSection .SourceCode {
  height: calc(100% - 68px - 51px - 94px); }
  .PanelSection .SourceCode .ReactCodeMirror {
    height: 100%; }
    .PanelSection .SourceCode .ReactCodeMirror .CodeMirror {
      font-size: 13px;
      -webkit-font-smoothing: initial;
      height: 100%; }
      .PanelSection .SourceCode .ReactCodeMirror .CodeMirror pre, .PanelSection .SourceCode .ReactCodeMirror .CodeMirror code {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word; }

.PanelSection .actionsFooter {
  border-top: solid 1px #111111;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 2000; }
  .PanelSection .actionsFooter .otherActions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    padding-left: .875em; }
  .PanelSection .actionsFooter .mainAction {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    position: relative;
    padding: 1.75em; }

@media (min-width: 576px) {
  .PanelSection .SourceCode {
    height: calc(100% - 51px - 163px); } }

@media (min-width: 768px) {
  .PanelSection .SourceCode {
    height: calc(100% - 51px - 163px); } }

@media (min-width: 992px) {
  .PanelSection .SourceCode {
    height: calc(100% - 51px - 163px); } }

@media (min-width: 1200px) {
  .PanelSection .SourceCode {
    height: calc(100% - 51px - 163px); } }

.PreviewSection .previewComponent {
  overflow: hidden; }
