/**********************************************************/
/*                SMALL BOX (COLOR PICKER)                */
/**********************************************************/

.SmallBox {
    &__swatch {
        padding: 4px;
        background: map-get($color, white);
        @extend .borderRadius-sm;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        display: flex;
        align-items: center;
        cursor: pointer;

        &__color {
            width: 36px;
            height: 25px;
            @extend .borderRadius-sm;
        }
    }

    &__popover {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 45px;

        &__cover {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}