/**********************************************************/
/*              PREVIEW BOX (PREVIEW SECTION)             */
/**********************************************************/

.PreviewBox {

    &__content {
        height: 0;
        overflow: hidden;
        position: relative;
    }

}