/**********************************************************/
/*                        COLOR BOX                       */
/**********************************************************/

.ColorBox {
    display: flex;
    width: 150px;
    height: 180px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 0;

    &__color {
        width:100%;
        height:80%;
    }
}