/**
 * COLOR COMPONENT
 * -------------- 
 */


.Color {
    &__item {
        display: block;
        width: 120px;
        height: 150px;

        &__color-square {
            width:100%;
            height:80%;
        }

        &__label {
            letter-spacing:3px;
        }
    }
}