/**********************************************************/
/*                      CODE TAB MENU                     */
/**********************************************************/

.CodeTabMenu {
    background-color: map-get($color, white);

    /// MODIFIER
    &--is-reversed {
        background-color: #141619;
        border-top: 1px solid #000000;
    }
    
}
