/**********************************************************/
/*                         HEADER                         */
/**********************************************************/

.Header {
    z-index: 1;
    padding-bottom: 16px;
    color: rgba(255,255,255,0.75);
    background-color: map-get($color, white);
    border-bottom: 3px solid transparent;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
}