/**********************************************************/
/*                INPUT BOX (COLOR PICKER)                */
/**********************************************************/

.InputColorPicker {
    &__popover {
        position: absolute;
        z-index: 2;
        left: 50px;

        &__cover {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}