/**********************************************************/
/*                        BUTTONS                         */
/**********************************************************/

.sp-btn {
    display: inline-block;
    border: 2px solid transparent;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: background 300ms ease-out;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    /// BUTTON-SIZE
    
    &--sm {
        padding: 4px 10px;
        font-size: 14px;
    }

    &--md {
        padding: 8px 15px;
        font-size: 16px;
    }

    &--lg {
        padding: 12px 20px;
        font-size: 18px;
    }

    &--block {
        display: block;
        white-space: normal;
        width: 100%;
    }


    /// BUTTON-COLOR

    &--primary {
        background-color: map-get($color, primary);
        color: map-get($color, black);
        font-weight: 900;
        
        &:hover {
            background-color: map-get($color, darkPrimary);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            background-color: map-get($color, primary);
            color: map-get($color, black);
            text-decoration: none;
            outline: none;
        }
    }

    &--secondary {
        background-color: map-get($color, secondary);
        color: map-get($color, white);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, darkSecondary);
            text-decoration: none;
            color: map-get($color, white);
        }

        &:focus {
            outline: none;
        }
    }

    &--neutral {
        background-color: map-get($color, smoke);
        color: map-get($color, black);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, darkSmoke);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            background-color: map-get($color, smoke);
            color: map-get($color, black);
            text-decoration: none;
            outline: none;
        }
    }

    &--primary-ghost {
        background: 0 0;
        border: 2px solid map-get($color, primary);
        color: map-get($color, primary);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, primary);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            outline: none;
        }
    }

    &--secondary-ghost {
        background: 0 0;
        border: 2px solid map-get($color, secondary);
        color: map-get($color, secondary);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, secondary);
            text-decoration: none;
            color: map-get($color, white);
        }

        &:focus {
            outline: none;
        }
    }

    &--white-ghost {
        background: 0 0;
        border: 2px solid map-get($color, white);
        color: map-get($color, white);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, white);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--black-ghost {
        background: 0 0;
        border: 2px solid map-get($color, black);
        color: map-get($color, black);
        font-weight: 900;

        &:hover {
            border: 2px solid map-get($color, silver);
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--combo {
        background: 0 0;
        border: 0 hidden transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:hover {
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--combo-secondary-ghost {
        background: 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid map-get($color, secondary);

        &:hover {
            background-color: map-get($color, secondary);
            text-decoration: none;
            color: map-get($color, white);
            .icon {
                stroke: map-get($color, white);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &--combo-neutral-ghost {
        background: 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid map-get($color, darkSmoke);

        &:hover {
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

}


/// BUTTON DISABLED

.sp-btn[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
    &:hover {
        background-color: initial;
    }
}

/* BUTTON GROUP */
.sp-btnGroup {
    &__container {
        display: inline-block;

        .sp-btn {
            @extend .borderRadius-0;
        }

        &:first-child {
            .sp-btn {
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
            }
        }

        &:last-child {
            .sp-btn {
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;
            }
        }
    }
}