/**********************************************************/
/*                        BUTTONS                         */
/**********************************************************/

.sp-btn {
    display: inline-block;
    border: 2px solid transparent;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: background 300ms ease-out;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    /// BUTTON-SIZE
    
    &--sm {
        padding: 4px 10px;
        font-size: 14px;
    }

    &--md {
        padding: 8px 15px;
        font-size: 16px;
    }

    &--lg {
        padding: 12px 20px;
        font-size: 18px;
    }

    &--block {
        display: block;
        white-space: normal;
        width: 100%;
    }


    /// BUTTON-COLOR

    &--primary {
        background-color: map-get($color, primary);
        color: map-get($color, black);
        font-weight: 900;
        
        &:hover {
            background-color: map-get($color, darkPrimary);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            background-color: map-get($color, primary);
            color: map-get($color, black);
            text-decoration: none;
            outline: none;
        }
    }

    &--secondary {
        background-color: map-get($color, secondary);
        color: map-get($color, white);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, darkSecondary);
            text-decoration: none;
            color: map-get($color, white);
        }

        &:focus {
            outline: none;
        }
    }

    &--neutral {
        background-color: map-get($color, smoke);
        color: map-get($color, black);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, darkSmoke);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            background-color: map-get($color, smoke);
            color: map-get($color, black);
            text-decoration: none;
            outline: none;
        }
    }

    &--primary-ghost {
        background: 0 0;
        border: 2px solid map-get($color, primary);
        color: map-get($color, primary);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, primary);
            text-decoration: none;
            color: map-get($color, black);
        }

        &:focus {
            outline: none;
        }
    }

    &--secondary-ghost {
        background: 0 0;
        border: 2px solid map-get($color, secondary);
        color: map-get($color, secondary);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, secondary);
            text-decoration: none;
            color: map-get($color, white);
        }

        &:focus {
            outline: none;
        }
    }

    &--white-ghost {
        background: 0 0;
        border: 2px solid map-get($color, white);
        color: map-get($color, white);
        font-weight: 900;

        &:hover {
            background-color: map-get($color, white);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--black-ghost {
        background: 0 0;
        border: 2px solid map-get($color, black);
        color: map-get($color, black);
        font-weight: 900;

        &:hover {
            border: 2px solid map-get($color, silver);
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--combo {
        background: 0 0;
        border: 0 hidden transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:hover {
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

    &--combo-secondary-ghost {
        background: 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid map-get($color, secondary);

        &:hover {
            background-color: map-get($color, secondary);
            text-decoration: none;
            color: map-get($color, white);
            .icon {
                stroke: map-get($color, white);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &--combo-neutral-ghost {
        background: 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid map-get($color, darkSmoke);

        &:hover {
            background-color: map-get($color, smoke);
            text-decoration: none;
            color: map-get($color, slate);
        }

        &:focus {
            outline: none;
        }
    }

}

/// BUTTON DISABLED

.sp-btn[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
    &:hover {
        background-color: initial;
    }
}

/* BUTTON GROUP */
.sp-btnGroup {
    &__container {
        display: inline-block;

        .sp-btn {
            @extend .borderRadius-0;
        }

        &:first-child {
            .sp-btn {
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
            }
        }

        &:last-child {
            .sp-btn {
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;
            }
        }
    }
}


/* SWITCH BUTTON */

.sp-switch-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-transition: background-color .40s ease-in-out;
    -moz-transition: background-color .40s ease-in-out;
    -o-transition: background-color .40s ease-in-out;
    transition: background-color .40s ease-in-out;


    /// SWITCH BUTTON-SIZE
    
    &--sm {
        width: 55px;
        height: 30px;

        &.active {
            .inner-btn {
                left: 31px;
            }
        }

        .inner-btn {
            width: 18px;
            height: 18px;
            left: 6px;
            margin-top: -9px;
        }

    }

    &--md {
        width: 70px;
        height: 40px;
        
        &.active {
            .inner-btn {
                left: 37px;
            }
        }

        .inner-btn {
            width: 26px;
            height: 26px;
            left: 7px;
            margin-top: -13px;
        }
    }

    &--lg {
        width: 90px;
        height: 48px;

        &.active {
            .inner-btn {
                left: 48px;
            }
        }

        .inner-btn {
            width: 34px;
            height: 34px;
            left: 7px;
            margin-top: -17px;
        }
    }


    /// SWITCH BUTTON-COLOR

    &--on-primary {
        &.active {
            background-color: map-get($color, primary);

            .inner-btn {
                background-color: map-get($color, white);
            }
        }
    }

    &--on-secondary {
        &.active {
            background-color: map-get($color, secondary);

            .inner-btn {
                background-color: map-get($color, white);
            }
        }
    }

    &--off-neutral {
        background-color: map-get($color, smoke);

        .inner-btn {
            background-color: map-get($color, white);
        }
    }

    &--off-white {
        background-color: map-get($color, white);

        .inner-btn {
            background-color: map-get($color, darkSmoke);
        }
    }


    /// SWITCH BUTTON-TYPE
    &--circle {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;

        .inner-btn {
            @extend .borderRadius-circle;
        }
    }

    &--square {
        @extend .borderRadius-sm;

        .inner-btn {
            @extend .borderRadius-sm;
        }
    }

    .inner-btn {
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transition: all .30s ease-in-out;
        -moz-transition: all .30s ease-in-out;
        -o-transition: all .30s ease-in-out;
        transition: all .30s ease-in-out;
    }

    .cb-value {
        position: absolute;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 9;
        cursor:pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

}