/**********************************************************/
/*                         INPUTS                         */
/**********************************************************/

.sp-input {
    border: 1px solid map-get($color, extraDarkSmoke);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: map-get($color, white);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: map-get($color, slate);
    display: block;

    &:focus {
        border-color: map-get($color, secondary);
        outline: 0;
    }

    &--sm {
        padding: 0 10px;
        height: 30px;
        font-size: 13px;
    }

    &--md {
        padding: 0 14px;
        height: 40px;
        font-size: 15px;
    }

    &--lg {
        padding: 0 16px;
        height: 50px;
        font-size: 16px;
    }

    &--block {
        width: 100%;
    }
}

/* SEARCH INPUT */
.sp-search {
    display: flex;
    align-items: center;
    position: relative;

    &__input {
        padding-left: 36px;
        box-sizing: border-box;
    }

    &__icon {
        position: absolute;
        margin-left: 12px;
    }
}