/**********************************************************/
/*                         INPUTS                         */
/**********************************************************/

@mixin input {
    border: 1px solid map-get($color, extraDarkSmoke);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: map-get($color, white);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: map-get($color, slate);
    display: block;
}

@mixin special-input {
    border: 0 hidden transparent;
    border-bottom: 1px solid map-get($color, extraDarkSmoke);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: transparent;
    color: map-get($color, slate);
    display: block;
}

.sp-input {
    @include input;

    &.error {
        border-color: map-get($color, negative);
    }

    &::-moz-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::-webkit-input-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &:focus {
        border-color: map-get($color, secondary);
        outline: 0;
    }

    &--sm {
        padding: 0 10px;
        height: 30px;
        font-size: 13px;
    }

    &--md {
        padding: 0 14px;
        height: 40px;
        font-size: 15px;
    }

    &--lg {
        padding: 0 16px;
        height: 50px;
        font-size: 16px;
    }

    &--block {
        width: 100%;
    }
}

.sp-special-input {
    @include special-input;

    &.error {
        border-color: map-get($color, negative);
    }

    &::-moz-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::-webkit-input-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &:focus {
        border-color: map-get($color, secondary);
        outline: 0;
    }

    &--sm {
        padding: 0 10px;
        height: 30px;
        font-size: 13px;
    }

    &--md {
        padding: 0 12px;
        height: 40px;
        font-size: 15px;
    }

    &--lg {
        padding: 0 13px;
        height: 45px;
        font-size: 16px;
    }

    &--block {
        width: 100%;
    }

}


/* TEXTAREA INPUT */
.sp-textarea {
    @include input;

    &.error {
        border-color: map-get($color, negative);
    }

    &::-moz-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::-webkit-input-placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &::placeholder {
        color: map-get($color, extraDarkSmoke);
    }

    &:focus {
        border-color: map-get($color, secondary);
        outline: 0;
    }

    &--sm {
        padding: 10px;
        font-size: 13px;
    }

    &--md {
        padding: 10px 14px;
        font-size: 15px;
    }

    &--lg {
        padding: 16px;
        font-size: 16px;
    }

    &--block {
        width: 100%;
    }

}

/* SEARCH INPUT */
.sp-search {
    display: flex;
    align-items: center;
    position: relative;

    &__input {
        padding-left: 36px;
        box-sizing: border-box;

        &.error {
            border-color: map-get($color, negative);
        }
    }

    &__btn {
        position: absolute; 
        right: 5px;
    }

    &__icon {
        position: absolute;
        margin-left: 12px;
    }
}


/* SELECT LIST */
.sp-select-container {
    position: relative;
    display: inline-flex;
    // align-items: center;

    .sp-select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        line-height: normal;
        cursor: pointer;

        &--input {
            @include input;

            &.error {
                border-color: map-get($color, negative);
            }

            &:focus {
                border-color: map-get($color, secondary);
                outline: 0;
            }
        }

        &--sm {
            padding: 0 35px 0 10px;
            height: 30px;
            font-size: 13px;
        }
    
        &--md {
            padding: 0 35px 0 14px;
            height: 40px;
            font-size: 15px;
        }
    
        &--lg {
            padding: 0 35px 0 16px;
            height: 50px;
            font-size: 16px;
        }
    
        &--block {
            width: 100%;
        }
        
    }

    .icon {
        position: absolute;
        /* TODO: Este margin top esta quemado para los select md 
        deberia variar dependiendo el tamaño */
        margin-top: 12px;
        right: 10px;
        float: right;
    }
}

/* INPUT GROUP */
.sp-inputGroup {
    display: flex;
    align-items: center;
    position: relative;

    .input {
        @extend .sp-input;
    }

    &--label {
        
        .context {
            background-color: map-get($color, darkSnow);
            color: map-get($color, silver);
            border: 1px solid map-get($color, extraDarkSmoke);
            border-right: 0 hidden transparent;
            margin-left: 1px;
            font-weight: 700;
            -webkit-border-top-left-radius: 3px;
            -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .input {
            -webkit-border-top-left-radius: 0;
            -moz-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &--sm {

            .input {
                padding: 0 10px;
                height: 30px;
                font-size: 13px;
            }

            .context {
                padding: 0 10px;
                font-size: 13px;
                height: 30px;
                display: flex;
                align-items: center;
            }
        }

        &--md {

            .input {
                padding: 0 14px;
                height: 40px;
                font-size: 15px;
            }

            .context {
                padding: 0 14px;
                font-size: 15px;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }

        &--lg {

            .input {
                padding: 0 16px;
                height: 50px;
                font-size: 16px;
            }

            .context {
                padding: 0 16px;
                font-size: 16px;
                height: 50px;
                display: flex;
                align-items: center;
            }
        }

    }

    &--color {

        .context {
            background-color: map-get($color, primary);
            border-right: 1px solid map-get($color, extraDarkSmoke);
            position: absolute;
            margin-left: 1px;
            cursor: pointer;
        }

        &--sm {

            .input {
                height: 30px;
                font-size: 13px;
                width: 110px;
                padding-left: 40px;
                padding-right: 0;
            }

            .context {
                padding: 14px;
            }
        }

        &--md {

            .input {
                width: 135px;
                padding-left: 50px;
                padding-right: 0;
                height: 40px;
                font-size: 15px;
            }

            .context {
                padding: 19px;
            }
        }

        &--lg {

            .input {
                width: 150px;
                padding-left: 60px;
                padding-right: 0;
                height: 50px;
                font-size: 16px;
            }

            .context {
                padding: 24px;
            }
        }
    }

    

    
}