/**********************************************************/
/*                         LOADER                         */
/**********************************************************/

.sp-loader {

    &--center {
        // TODO: Verificar si esto es necesario, ya que tenemos helpers para centrar
        position: absolute;
        z-index: 999;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}