.HomePage {
    .jumbotron {
        border-radius: 0;

        &--texture {
            background-image: url('../../../resources/images/texture-bg.png');
            overflow: hidden;
        }
    }

    .ComponentListSection {

        .componentBox-container {
            width: 32%;
            margin: 0 2% 25px 0;
            overflow: hidden;
            position: relative;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}


@media (max-width: 830px) {
    .HomePage {
        .ComponentListSection {
            .componentBox-container {
                width: 49%;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(3n) {
                    margin-right: 2%;
                }

            }

        }
    }
}


@media (max-width: 550px) {
    .HomePage {
        .ComponentListSection {
            .componentBox-container {
                width: 100%;
                margin-right: 0 !important;
            }
        }
    }
}

