.HomePage {

    .leftSide {

        &__header {
            // height: 113px; legacy
            height: 75px;
            left: 0;
            position: fixed;
            top: 0;
            // width: 40%; legacy
            z-index: 3;
            box-shadow: 0 0 80px 40px #fff;
            background-color: #fff;

            &__content {
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                height: 100%;
                width: 100%;
            }
        }

        &__content {
            position: relative;
            box-sizing: border-box;

            .section {
                height: 100vh;
            }

            &__text {
                margin: 0 auto;
                max-width: 400px;
                width: calc(100% - (10px * 8));
            }
        }
    }

    .rightSide {

        &__content {

            height: 100%;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            width: 58.3%;
            z-index: 4;
            background-image: linear-gradient(-180deg, rgb(39, 106, 174) 0%, rgb(66, 140, 202) 28%, rgb(104, 169, 223) 74%, rgb(138, 203, 242) 100%);

            &__header {
                top: 0; 
                left: 0; 
                margin-top: 15px;
            }
    
            img {
                margin-left: 50px;
                width: 94.5%;
            }

            &__footer {
                left: 0;
                bottom: 25px;

                a:hover {
                    color: map-get($color, white);
                    text-decoration: none;
                    border-bottom: 2px solid map-get($color, primary);
                }
            }

        }

    }

}