/**********************************************************/
/*                     NAVBAR OPTIONS                     */
/**********************************************************/

.NavbarOptions {
    .nav-link.active {
        border-bottom: 3px solid map-get($color, secondary);
        font-weight: 600;
        outline: none;
    }
}