.PanelSection {

    .tabs {
        width: 100%;
        background-color: rgb(20, 22, 25);
        white-space: nowrap;
        display: flex;
        //border-bottom: 1px solid rgb(0, 0, 0);

        &__button {
            border: 10px;
            box-sizing: border-box;
            display: inline-block;
            font-family: Roboto, sans-serif;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            text-decoration: none;
            margin: 0px;
            padding: 0px;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            z-index: 1;
            color: rgb(236, 239, 241);
            width: 33.3333%;
            text-transform: uppercase;
            background: none;

            &--active {
                border-bottom: 3px solid #33ada9;
            }

            .inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 48px;
            }
        }
    }

    .SourceCode {
        height: calc(100% - 51px - 125px);

        .ReactCodeMirror {
            height: 100%;

            .CodeMirror {
                font-size: 13px;
                -webkit-font-smoothing: initial;
                height: 100%;
    
                pre,code { 
                    white-space:pre-wrap;
                    white-space:-moz-pre-wrap;
                    white-space:-pre-wrap;
                    white-space:-o-pre-wrap;
                    word-wrap:break-word;
                } 
            }
        }
        
    }

    .actionsFooter {
        border-top: solid 1px #494952;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        z-index: 2000;

        .otherActions {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            position: relative;
            padding-left: .875em;
        }

        .mainAction {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-flex-grow: 1;
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            -moz-flex-shrink: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-shrink: 1;
            flex-shrink: 1;
            position: relative;
            padding: 1.75em;
        }
    }
}